.book {
  display: flex;
  padding: 20px;
  padding-right: 0;
  margin: 15px 0;
  font-size: 1.5rem;
  float: left;
  border-radius: 10px;
  border: 5px solid antiquewhite;
  width: 50%;
  height: 21rem;
  color: antiquewhite;
  -webkit-box-shadow: 0px 5px 10px 2px #ed9d3c;
}

.book img {
  width: 12rem;
  height: 18rem;
  border-radius: 10px;
  border: 5px solid #ed9d3c;
  -webkit-box-shadow: 0px 5px 10px 2px antiquewhite;
}

.container {
  text-align: center;
}
