:root {
  --oranje: #ed9d3c;
  --seablue: #0e4362;
  --greytext: #444;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: var(--seablue);
  color: rgba(0, 0, 0, 0.8);
}
